/* Header styling */
/* header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  color: #1e7a76;
  padding: 20px;
  display: flex;
  align-items: center;
}
.header-right {
  display: flex;
  align-items: center;
} */

/* .header-right a {
  margin-left: 10px;
  text-decoration: none;
  color: #000;
} */
/* Logo styling */
/* header .logo {
  width: 100px;  
  height: auto;  
  margin-right: 20px; 
} */

/* Title styling */
/* header .title {
  margin: 0;
  font-size: 20px;  
}
 header .title1{
  margin:0;
  font-size: 13px;
 } */